<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
        $("#Cidade").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/BuscarCidade",
                    type: "POST",
                    dataType: "json",
                    data: { cidade: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.descricaoCidade, value: item.codigo };
                        }))

                    }
                })
            },

            select: function (e, ui) {
                ObterPrevisaoDoTempo(ui.item.value)
            },

            change: function (e, ui) {

            },

            messages: {
                noResults: "", results: ""
            }
        });
    })

    function ObterPrevisaoDoTempo(codigoCidade) {
        $.post("/Home/PrevisaoDoTempoCidade", { "codigoCidade": codigoCidade }, function (detailsHtml) {
            $("#divPrevisoes").html(detailsHtml);
        })
    }
</script>

@{
    ViewData["Title"] = "Desafio Quay";
}

<div class="text-center">
    <div class="form-group">
        Informe o nome da cidade: <input type="text" id="Cidade" name="Cidade" class="form-control">
    </div>

    <div id="divPrevisoes"></div>
</div>